<div class="row my-3 mx-3" >
  <div class="col-sm-3 mx-5" style="background-image:url(static/Football.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
    <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
        <h5 class="card-title" style="color: white;" >Football</h5>
        <p class="card-text" style="color: white;">Football ground vibes...</p>
        <a href="/football.html" target="_blank" class="btn btn-primary" style="color: white;">Lets goo...</a>
    </div>
  </div>
  <div class="col-sm-3 mx-5" style="background-image:url(static/basketball.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
    <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
        <h5 class="card-title" style="color: white;">Basketball</h5>
        <p class="card-text" style="color: white;">Basketball ground vibes...</p>
        <a href="/basketball.html" target="_blank" class="btn btn-primary" style="color: white;">Lets goo...</a>
    </div>
  </div>
  <div class="col-sm-3 mx-5" style="background-image:url(static/Volleyball.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
    <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
        <h5 class="card-title" style="color: white;">Volleyball</h5>
        <p class="card-text" style="color: white;">Volleyball ground vibes...</p>
        <a href="/volleyball.html" target="_blank" class="btn btn-primary" style="color: white;">Lets goo...</a>
    </div>
  </div>
  
</div>