<div class="row my-3 mx-3">
      <div class="col-sm-3 mx-5" style="background-image:url(static/chatroom.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
        <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
      <img src="football.jpg" alt="">
      <div class="card-body">
        <h5 class="card-title">Chat Room</h5>
        <p class="card-text">Wlecome to Chat room</p>
        <a href="/football.html" target="_blank" class="btn btn-primary">Lets goo...</a>

      </div>
    </div>
  </div>
  <div class="col-sm-3 mx-5" style="background-image:url(static/maps.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
    <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
      <div class="card-body">
        <h5 class="card-title">Maps</h5>
        <p class="card-text">welcome to maps </p>
        <a href="basketball.html" target="_blank" class="btn btn-primary">Lets goo...</a>
      </div>
    </div>
  </div>
      <div class="col-sm-3 mx-5" style="background-image:url(static/about.jpg);width:auto; height:auto;background-size:cover;background-repeat:no-repeat;background-position:center;background-color: rgba(0, 0, 0, 0);">
        <div class="card my-3 mx-2" style="background-color: rgba(0, 0, 0, 0);">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">know more about us </p>
        <a href="volleyball.html" target="_blank" class="btn btn-primary">Lets goo...</a>
      </div>
    </div>
  </div>

</div>