<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>map->Basketball</title>
</head>
<body>
  <div class="conatiner" style="width:50vh;height:50vh; display-flex:center;justify-content;align-items:center;">
    <h1>This is the map for Basketball court</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1497.8876667046416!2d77.06320413735101!3d29.028458666816228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390db1045d123b77%3A0x99b96bee2018b7d1!2sDCRUST%20Basketball%20Court!5e0!3m2!1sen!2sin!4v1711813170213!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width:50vh;height:50vh;"></iframe>
  </div>

</body>
</html>