<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home.html"><i>Flasker</i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about.html">About</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sports
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="football.html" >Football</a></li>
            <li><a class="dropdown-item" href="basketball.html" >Basketball</a></li>
            
            <li><a class="dropdown-item" href="volleyball.html">Volleyball</a></li>
          </ul>
        </li>
       
      </ul>
     
      </form>
    </div>
     <a href="Login.html" target="_blank"><button type="button " class="btn btn-success mx-1 my2">Login Up</button></a>
      <a href="sign.html" target="_blank"> <button type="button" class="btn btn-primary mx-1  my-2">Sign Up</button></a></ul>
     </div>
</nav>